body
{
    background-color: #24353F;
}

h1
{
    color: #17A2B8;
}
.w-60
{
    width: 60%;
}

#login
{
    color: #17A2B8;
    background-color: transparent;
    border: #17A2B8 solid 2px;
    transition: 0.3s;
}
#login:hover
{
    background-color:#17A2B8 ;
    color: white;
}
input
{
    background-color: #24353F !important;
    color: white !important;
}

#signup
{
    background-color: transparent !important;
    color: white;
}

#signup:hover
{
    text-decoration: underline;
}



input::placeholder {
    color: white !important;
}